@model EmployeesMvc.Models.EmpDepViewModel
@{
    ViewBag.Title = "Home";
}

<ul>
    <h2>Anställda:</h2>
    @foreach (var employee in Model.employees)
    {
        <li>
            <a asp-controller="employees" asp-action="details" asp-route-id="@employee.Id">
                Name: @employee.Name - Email: @employee.Email
                @if (employee.CreationTimeStamp != null)
                {
                    <br />
                    <span>Creation Date: @employee.CreationTimeStamp.ToString()</span>
                }
            </a>
        </li>
    }
    <h2>Avdelningar:</h2>
    @foreach (var department in Model.departments)
    {
        <li>
            @department.Name <br /> Anställda:
            @if(department.Employees != null)
            {
                foreach(var emp in department.Employees)
                {
                    <br /><span>@emp.ToString()</span>
                }
            }
        </li>
        
    }
</ul>

